body {
    background-color: #4aaaa5;
}

h1 {
    text-align: center;
    margin: 30px;
}

.container {
    text-align: center;
    margin: 30px;
    padding: 60px;
    border-bottom: solid;
}

#add-gif {
    border-radius: 12px;
    color: #3700B3;
}